{% extends "_template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if is_completed %}
<div>Password change success!!! click to go <a href="/">home</a></div>
{% else %}
<link href="{{okta_config.org_host}}/assets/loginpage/css/okta-login-page.min.88c003cadf2616a8827c8a1531c3fea9.css" type="text/css" rel="stylesheet" />
<div id="login-bg-image" class="login-bg-image" data-se="login-bg-image" style="background-image: url('{{orgUrls.background}}')"></div>
<div>
  <form id="change-password-form" method="POST" action="/change_password">
    <div class="content">
      <style type="text/css">
        .noscript-msg {
          background-color: #fff;
          border-color: #ddd #ddd #d8d8d8;
          box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12);
          text-align: center;
          width: 398px;
          min-width: 300px;
          margin: 200px auto;
          border-radius: 3px;
          border-width: 1px;
          border-style: solid;
        }

        .noscript-content {
          padding: 42px;
        }

        .noscript-content h2 {
          padding-bottom: 20px;
        }

        .noscript-content h1 {
          padding-bottom: 25px;
        }

        .noscript-content a {
          background: transparent;
          box-shadow: none;
          display: table-cell;
          vertical-align: middle;
          width: 314px;
          height: 50px;
          line-height: 36px;
          color: #fff;
          background: linear-gradient(#007dc1, #0073b2), #007dc1;
          border: 1px solid;
          border-color: #004b75;
          border-bottom-color: #00456a;
          box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
          -webkit-border-radius: 3px;
          border-radius: 3px;
        }

        .noscript-content a:hover {
          background: #007dc1;
          cursor: hand;
          text-decoration: none;
        }
      </style>
      <noscript>
        <div id="noscript-msg" class="noscript-msg">
          <div class="noscript-content">
            <h2>Javascript is required</h2>
            <h1>Javascript is disabled on your browser.&nbspPlease enable Javascript and refresh this page.</h1>
            <a href=".">Refresh</a>
          </div>
        </div>
      </noscript>
      <div id="signin-container">
        <div data-se="auth-container" id="okta-sign-in" class="auth-container main-container can-remove-beacon">
          <div class="okta-sign-in-header auth-header"> <img src="{{orgUrls.logo}}" class="auth-org-logo" alt="">
            <div data-type="beacon-container" class="beacon-container" style="transform: scale(1, 1); text-indent: 1px;">
              <div class="js-security-beacon">
                <div class="beacon-blank">
                  <div class="radial-progress-bar">
                    <div class="circle left"></div>
                    <div class="circle right"></div>
                  </div>
                </div>
                <div aria-live="polite" role="image" class="bg-helper auth-beacon auth-beacon-security" data-se="security-beacon" style="background-image: url(&quot;https://op1static.oktacdn.com/assets/img/security/robot.461ab724c6a9faa2d4908c9b37a77ad9.jpg&quot;);">
                  <span class="accessibility-text">Robot</span>
                  <div class="okta-sign-in-beacon-border auth-beacon-border js-auth-beacon-border"> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="auth-content">
            <div class="auth-content-inner">
              <div class="password-reset">
                <form method="POST" action="/login/login.htm" data-se="o-form" id="form145" class="o-form o-form-edit-mode">
                  <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
                    <h2 data-se="o-form-head" class="okta-form-title o-form-head">Reset your Okta password</h2>
                    <p class="okta-form-subtitle o-form-explain" data-se="o-form-explain">Password requirements: at least 8 characters, a lowercase letter, an uppercase letter, a number, no parts of your username.</p>
                    <div class="o-form-error-container" data-se="o-form-error-container"></div>
                    <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
                      <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top">
                        <div data-se="o-form-input-container" class="o-form-input"><span data-se="o-form-input-newPassword" class="o-form-input-name-newPassword o-form-control okta-form-input-field input-fix"> <span class="input-tooltip icon form-help-16"
                              data-hasqtip="3"></span> <span class="icon input-icon credentials-16"></span>
                            <input type="password" placeholder="New password" name="password" id="input154" value="" aria-label="New password" autocomplete="off">
                          </span></div>
                      </div>
                      <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top">
                        <div data-se="o-form-input-container" class="o-form-input"><span data-se="o-form-input-confirmPassword" class="o-form-input-name-confirmPassword o-form-control okta-form-input-field input-fix"> <span class="input-tooltip icon form-help-16"
                              data-hasqtip="4"></span> <span class="icon input-icon credentials-16"></span>
                            <input type="password" placeholder="Repeat password" name="confirmPassword" id="input161" value="" aria-label="Repeat password" autocomplete="off">
                          </span></div>
                      </div>
                    </div>
                  </div>
                  <div class="o-form-button-bar"><input class="button button-primary" type="submit" value="Reset Password" data-type="save"></div>
                  <input type="hidden" name="ott" value="{{ott}}" />
                </form>
                <div class="auth-footer clearfix"> <a href="#" class="link goto" data-se="signout-link"> Sign Out </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>
{% endif %}
{% endblock %}
