{% extends "_template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  {% if is_logged_in %}
    You are logged in
    <a href="{{okta_config.app_host}}/logout">Logout</a>
  {% else %}
    <script>
      var okta_app_host = "{{okta_config.app_host}}";
      var okta_background = "{{orgUrls.background}}";
      var okta_factorOktaVerifyCode = {{okta_config.factorOktaVerifyCode}};
      var okta_factorOktaVerifyPush = {{okta_config.factorOktaVerifyPush}};
      var okta_factorGoogleAuth = {{okta_config.factorGoogleAuth}};
      var okta_factorSMS = {{okta_config.factorSMS}};
      var okta_factorVoice = {{okta_config.factorVoice}};
      var okta_factorQuestion = {{okta_config.factorQuestion}};

    </script>
    <link href="{{okta_config.org_host}}/assets/loginpage/css/okta-login-page.min.88c003cadf2616a8827c8a1531c3fea9.css" type="text/css" rel="stylesheet"/>

    <div id="login-bg-image" class="login-bg-image" data-se="login-bg-image" style="background-image: url('{{orgUrls.background}}')"></div>

    <div class="content">

      <noscript>
        <div id="noscript-msg" class="noscript-msg">
          <div class="noscript-content">
            <h2>Javascript is required</h2>
            <h1>Javascript is disabled on your browser.&nbspPlease enable Javascript and refresh this page.</h1>
            <a href=".">Refresh</a>

          </div>

        </div>
      </noscript>
      <div id="signin-container">
        <script type="text/javascript">
          $("#signin-container").hide();
        </script>

        <div data-se="auth-container" id="okta-sign-in" class="auth-container main-container no-beacon">
          <div class="okta-sign-in-header auth-header">
            <img src="{{orgUrls.logo}}" class="auth-org-logo" alt="ELAB Co">

          </div>
          <div class="auth-content">
            <div class="auth-content-inner">
              <div class="mfa-verify">
                <div class="forgot-password">
                  <form method="POST" action="/signin/forgot-password" data-se="o-form" id="form17" class="o-form forgot-password-sms-enabled forgot-password-email-enabled o-form-edit-mode">
                    <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
                      <h2 id="header-text" data-se="o-form-head" class="okta-form-title o-form-head">Reset Password</h2>
                      <div id="code-error-box" class="o-form-error-container" data-se="o-form-error-container">
                        <div>
                          <div class="okta-form-infobox-error infobox infobox-error" role="alert">
                            <span class="icon error-16"></span>
                            <p>Your token doesn't match our records. Please try again.</p>

                          </div>

                        </div>

                      </div>
                      <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
                        <div id="step1">
                          <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top">

                            <div data-se="o-form-input-container" class="o-form-input o-form-has-errors">
                              <span data-se="o-form-input-username" class="o-form-input-name-username o-form-control okta-form-input-field input-fix">
                                <span class="input-tooltip icon form-help-16" data-hasqtip="8" aria-describedby="qtip-8"></span>
                                <span class="icon input-icon person-16-gray"></span>
                                <input type="text" placeholder="Email or Username" name="username" id="username" value="" aria-label="Email or Username" autocomplete="off">
                              </span>
                              <p id="username-error" class="okta-form-input-error o-form-input-error o-form-explain" role="alert">
                                <span class="icon icon-16 error-16-small"></span>The field cannot be left blank</p>

                            </div>

                          </div>
                          <p class="mobile-recovery-hint">
                            Reset can only be used if verification type has been configured.
                          </p>
                          <a data-se="okta-verify-button" id="verify-code" class="button button-primary button-wide email-button link-button" href="#">Reset via Okta Verify Code</a>
                          <a data-se="email-button" id="verify-push" class="button button-primary button-wide email-button link-button" href="#">Reset via Okta Verify Push</a>
                          <a data-se="email-button" id="googleAuth" class="button button-primary button-wide email-button link-button" href="#">Reset via Google Authenticator</a>
                          <a data-se="sms-button" id="sms" class="button button-primary button-wide sms-button link-button" href="#">Reset via SMS</a>
                          <a data-se="email-button" id="voice" class="button button-primary button-wide email-button link-button" href="#">Reset via Voice</a>
                            <a data-se="email-button" id="question" class="button button-primary button-wide email-button link-button" href="#">Reset via Security Question</a>

                        </div>

                      </div>
                      <br/>
                      <div id="modalContent">
                        <div id="smsModalContent">

                          <div class="o-form-fieldset o-form-label-top enroll-sms-phone o-form-input" style="width:100%">
                            <span data-se="o-form-input-passCode" class="o-form-input-name-passCode o-form-control okta-form-input-field input-fix">
                              <input name="passCode" type="text" id="smsCode" placeholder="Enter Code" aria-label="Enter Code" autocomplete="off"/>
                            </span>

                          </div>
                          <div>
                            <input id="smsRequest" class="button button-primary button-wide email-button link-button" type="button" value="Re-send Code" onclick="requestCode('sms')"/>

                          </div><br>

                          <div>
                            <input id="smsSubmit" class="button button-primary button-wide email-button link-button" type="button" value="Verify" onclick="submitCode(document.getElementById('smsCode').value)"/>

                          </div>

                        </div>
                        <div id="googleAuthModalContent">

                          <div class="o-form-fieldset o-form-label-top enroll-sms-phone o-form-input" style="width:100%">
                            <span data-se="o-form-input-passCode" class="o-form-input-name-passCode o-form-control okta-form-input-field input-fix">
                              <input name="passCode" type="text" id="googleAuthCode" placeholder="Enter Code" aria-label="Enter Code" autocomplete="off"/>
                            </span>

                          </div>
                          <div>

                            <input id="googleAuthSubmit" class="button button-primary button-wide email-button link-button" type="button" value="Verify" onclick="submitCode(document.getElementById('googleAuthCode').value)"/>

                          </div>

                        </div>
                        <div id="oktaVerifyModalContent">
                          <div class="o-form-fieldset o-form-label-top enroll-sms-phone o-form-input" style="width:100%">
                            <span data-se="o-form-input-passCode" class="o-form-input-name-passCode o-form-control okta-form-input-field input-fix">
                              <input type="text" name="passCode" id="oktaVerifyCode" placeholder="Enter Code" aria-label="Enter Code" autocomplete="off"/>
                            </span>

                          </div>
                          <div>
                            <input id="OktaVerifySubmit" class="button button-primary button-wide email-button link-button" type="button" value="Verify" onclick="submitCode(document.getElementById('oktaVerifyCode').value)"/>

                          </div>

                        </div>
                        <div id="oktaVerifyPushModalContent">
                          <div><input id="oktaVerifyPushSubmit" class="button button-primary button-wide email-button link-button" type="button" value="Push Sent" onclick="submitCode('')"/>

                          </div>

                        </div>
                        <div id="voiceModalContent">
                          <div class="o-form-fieldset o-form-label-top enroll-sms-phone o-form-input" style="width:100%">
                            <span data-se="o-form-input-passCode" class="o-form-input-name-passCode o-form-control okta-form-input-field input-fix">
                              <input name="passCode" type="text" id="voiceCode" placeholder="Enter Code" aria-label="Enter Code" autocomplete="off"/>
                            </span>
                          </div><br>
                          <div>
                            <input id="voiceRequest" class="button button-primary button-wide email-button link-button" type="button" value="Re-Call" onclick="requestCode('call')"/>

                          </div><br>
                          <div>
                            <input id="voiceSubmit" class="button button-primary button-wide email-button link-button" type="button" value="Verify" onclick="submitCode(document.getElementById('voiceCode').value)"/>

                          </div>

                        </div>
                        <div id="questionModalContent">
                          <div class="o-form-fieldset o-form-label-top enroll-sms-phone o-form-input" style="width:100%">

                              <div class="mobile-recovery-hint" id="secretQuestion"></div>

                            <span data-se="o-form-input-passCode" class="o-form-input-name-passCode o-form-control okta-form-input-field input-fix">
                              <input name="answerCode" type="text" id="answerCode" placeholder="Enter Answer" aria-label="Enter Answer" autocomplete="off"/>
                            </span>
                          </div><br>
                          <div>
                            <input id="questionSubmit" class="button button-primary button-wide email-button link-button" type="button" value="Verify" onclick="submitCode(document.getElementById('answerCode').value)"/>
                          </div>

                        </div>

                      </div>
                    </div><br>
                    <div class="auth-footer clearfix">
                      <a href="{{okta_config.org_host}}" class="link " data-se="cutout-link">
                        Back to Sign In
                      </a>

                    </div>
                    <input type="hidden" id="oktaFactorType" name="oktaFactorType"/>

                  </div>

                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<script>
  //<![CDATA[
  $(document).ready(function () {
    console.log("Ready!!!");

    setBackgroundImage();
    setupUIControls();

  });


  //]]>
</script>

<script type="text/javascript" src="{{okta_config.app_host}}/static/js/index.js"></script>


<form id="changePassword" method="POST" action="/show_change_password">
  <input type="hidden" name="ott" id="ott"/>
</form>

<!-- The MFA Modal <div id="modalPopup" class="modal"> -->
{% endif %}
{% endblock %}
