{% extends "_template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if is_completed %}

<div>Password change success!!! click to go <a href="/">home</a>

</div>
{% else %}
<link href="{{okta_config.org_host}}/assets/loginpage/css/okta-login-page.min.88c003cadf2616a8827c8a1531c3fea9.css" type="text/css" rel="stylesheet" />

<div id="login-bg-image" class="login-bg-image" data-se="login-bg-image" style="background-image: url('{{orgUrls.background}}')">

</div>

<div>

  <div class="content">
    <style type="text/css">
      .noscript-msg {
        background-color: #fff;
        border-color: #ddd #ddd #d8d8d8;
        box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12);
        text-align: center;
        width: 398px;
        min-width: 300px;
        margin: 200px auto;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
      }

      .noscript-content {
        padding: 42px;
      }

      .noscript-content h2 {
        padding-bottom: 20px;
      }

      .noscript-content h1 {
        padding-bottom: 25px;
      }

      .noscript-content a {
        background: transparent;
        box-shadow: none;
        display: table-cell;
        vertical-align: middle;
        width: 314px;
        height: 50px;
        line-height: 36px;
        color: #fff;
        background: linear-gradient(#007dc1, #0073b2), #007dc1;
        border: 1px solid;
        border-color: #004b75;
        border-bottom-color: #00456a;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }

      .noscript-content a:hover {
        background: #007dc1;
        cursor: hand;
        text-decoration: none;
      }
    </style>
    <noscript>

      <div id="noscript-msg" class="noscript-msg">

        <div class="noscript-content">
          <h2>Javascript is required</h2>
          <h1>Javascript is disabled on your browser.&nbspPlease enable Javascript and refresh this page.</h1>
          <a href=".">Refresh</a>

        </div>

      </div>
    </noscript>

    <div id="signin-container">

      <div data-se="auth-container" id="okta-sign-in" class="auth-container main-container can-remove-beacon">

        <div class="okta-sign-in-header auth-header"> <img src="{{orgUrls.logo}}" class="auth-org-logo" alt="">

        </div>

        <div class="auth-content">

          <div class="auth-content-inner">

            <div class="password-success">

                <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
                  <h2 data-se="o-form-head" class="okta-form-title o-form-head">Your Password Has Been Reset</h2>
                  <p class="okta-form-subtitle o-form-explain" data-se="o-form-explain"></p>




                </div>

                <br>
                <div class="auth-footer clearfix">
                  <a href="{{okta_config.org_host}}" class="link " data-se="cutout-link"> Back to Sign In </a>

                </div>

        
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>



{% endif %}
{% endblock %}
